<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="mmxEntities" connectionString="metadata=res://*/990Data.csdl|res://*/990Data.ssdl|res://*/990Data.msl;provider=Devart.Data.MySql;provider connection string=&quot;User Id=admin;Password=KHWE33eetEqK6jXL;Host=prod-990-data-restore.c4u2uv45eucg.us-east-1.rds.amazonaws.com;Database=mmx;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
    <add name="taxonomy_dbEntities" connectionString="metadata=res://*/TaxonomyData.csdl|res://*/TaxonomyData.ssdl|res://*/TaxonomyData.msl;provider=Devart.Data.MySql;provider connection string=&quot;User Id=admin;Password=KHWE33eetEqK6jXL;Host=prod-990-data-restore.c4u2uv45eucg.us-east-1.rds.amazonaws.com;Database=taxonomy_db;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>